#header{
    height: 80px;
    width: 100%;
    background: white;
}
#header .wrapper{
    height: 80px;
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#header .wrapper ul{
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 664px;
}
#header .wrapper a{
    height: 77px;
    line-height: 77px;
    text-align: center;  
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    display: block;
}
#header li a:hover{
    color: #866961;
    border-bottom: 2px solid #866961;
}
#banner{
    width: 100%;
}
#banner .wrapper{
    width: 100%px;
    margin: auto;
}
#banner .wrapper img{
    width: 100%;
}

#footer{
    height: 80px;
    width: 100%;
    background: #866961;
}
#footer .wrapper{
    height: 80px;
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 190px 0 20px;
}
#footer .wrapper .footer_left{
    width: 610px;
    height: 80px;
    box-sizing: border-box;
    padding-top:40px;
}
#footer .wrapper p,#footer .wrapper a{
    color: #eeeae9;
    font-size: 14px;
}
#footer a:hover{
    color:skyblue;
}
