@charset "utf-8";
*{
    margin:0;
    padding:0;
}
body{
    /* 统一项目的文字大小 */
    font-size:16px;
    font-family:"Microsoft YaHei";

}
ul,ol,li{
    /* 清除列表符号 */
    list-style:none;
}

a,u{
    /* 去掉下划线 */
    text-decoration:none;
    color:black;
    
}

i,em{
    /* 默认倾斜清除 */
    font-style:normal;
}

b,strong{
    /* 清除默认加粗 */
    font-weight:normal;
}
h1,h2,h3,h4,h5,h6{
    font-size:16px;
    font-weight:normal;
}

img{
    /* 边框清零 */
    display:block;
    border:none;
}
input,fieldset{
    outline: none;
    border:0;
}
/* .clear_fix:after{
    content:'.';
    clear:both;
    height:0;
    overflow:hidden;
    display:block;
    visibility: hidden;
}
.clear_fix{
    zoom:1;
} */