#content{
    width: 100%;
    height: 642px;
    background: white;
}
#content .wrapper{
    width: 996px;
    height: 642px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 36px;
}
#content ul{
    display: flex;
    justify-content: space-around;
}
#content .wrapper .content_top{
    width: 996px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d5d5d5;
}
#content .content_top .con_left{
    width: 336px;
    height: 20px;
    display: flex;
    flex-direction: column;
}
#content .con_left a{
    font-size: 16px;
    color:#333333;
    box-sizing: border-box;
    padding-left: 8px;
    align-self: flex-end;
}
#content .con_left_top li{
    width: 130px;
    height: 20px;
    display:flex;
}
#content .con_left_top li::before{
    content:"";
    width: 2px;
    height: 10px;
    background: #999999;
    display: block;
    align-self: flex-end;
}
#content .con_left_bot li{
    font-size: 12px;
    width: 130px;
    color:#999999;
}
#content .content_top .con_right{
    width: 228px;
    height: 20px;
    padding-top: 20px;
    display: flex;
}

#content .con_right a{
    height: 20px;
    line-height: 20px;
    display: block;
    font-size: 12px;
    color:#333333;
}

#content .con_right a:hover{
    color: #a0a0a0;
}